@import "../status.module";

.examples {
  justify-content: space-evenly;
  display: grid;
  gap: 0.333em;
}

.examples {
  grid-template-columns: repeat(auto-fit, 6em);
  grid-auto-rows: auto;
}

.high {
  line-height: 2em;
}
