@import "../grid";
@import "../status.module";

.row {
  @include grid;
  grid-template-columns: 1fr minmax(300px, 100%) 1fr;
}

.row > * {
  grid-column: 2;
}

.examples {
  justify-content: space-evenly;
  display: grid;
  gap: 0.333em;
}

.examples {
  grid-template-columns: repeat(auto-fit, 6em);
  grid-auto-rows: auto;
}
