@import "status.module";

.main,
.result,
.intro,
.inputWrapper,
.dropdown {
  justify-content: space-evenly;
  display: grid;
  gap: 0.333em;
}

.intro {
  grid-template-columns: 100%;
  grid-auto-rows: auto;
}

.main {
  grid-template-rows: auto minmax(3em, auto) 1fr;
  grid-template-columns: 100%;
}

.outletWrapper {
  grid-column: 1;
  grid-row: 2 / -1;
}

.inputWrapper {
  grid-template-columns: auto 1fr 5em;
  grid-template-rows: auto auto minmax(3em, 1fr);
  margin-top: 0.333em;
  grid-row: 1 / -2;
  grid-column: 1;
  z-index: 1;
}

.inputWrapper > label {
  @include label;
  @include neutral-top;
  grid-column: 1;
  grid-row: 1;
}

.inputWrapper > button {
  grid-column: 3;
  grid-row: 2 / -2;
}

.inputWrapper > div {
  display: contents;
}

.inputWrapper input[type="text"] {
  @include bytes;
  @include neutral-bottom;
  font-weight: bold;
  text-align: center;
  grid-column: 1 / -2;
  grid-row: 2;
  width: auto;
  height: 3em;
}

.inputWrapper > div > div.dropdown {
  @include neutral-bottom;
  grid-template-columns: repeat(auto-fit, minmax(5em, 12%));
  grid-column: 1 / -1;
  grid-row: 3;
  position: static;
  padding: 0.5em 0 0.5em 0;
}

.dropdown .item.active {
  @include label;
  @include better;
}

.dropdown .item {
  @include label;
  @include worse;
  display: grid;
  height: 60%;
  cursor: pointer;
  padding: 0.5em;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.result {
  grid-template-columns: repeat(auto-fit, minmax(15em, 49%));
  grid-auto-rows: auto;
}

.result > div {
  grid-template-rows: auto 1fr;
  display: grid;
  gap: 0.333em;
}

.result > div.fullWidth {
  grid-column: 1 / -1;
}
