@mixin label($color, $edge) {
  border: none;
  font: inherit;
  outline: inherit;
  padding: 0.333em;
  border-radius: 0.333em;
  border-#{$edge}: 0.5em groove $color;
}

@mixin bytes {
  resize: none;
  display: grid;
  padding: 0.333em;
  font-size: 1.2em;
  align-items: center;
  word-spacing: -0.333em;
  font-family: monospace;
  border-radius: 0.333em;
  background-color: rgb(244, 255, 244);
  border-bottom: 0.5em ridge rgba(198, 224, 216, 0.5);
}

@mixin neutral($edge) {
  @include label(rgba(198, 224, 216, 0.5), $edge);
  background-color: rgb(244, 255, 244);
}

@mixin worse($edge) {
  @include label(rgba(198, 198, 224, 0.5), $edge);
  background-color: rgb(207, 204, 229);
}

@mixin better($edge) {
  @include label(rgba(224, 216, 198, 0.5), $edge);
  background-color: rgb(254, 224, 182);
}

.error {
  @include label(rgba(224, 198, 216, 0.5), "top");
  background-color: rgb(247, 204, 207);
}

button.worse {
  @include worse("bottom");
}

.equal {
  @include neutral("top");
}

.worse {
  @include worse("top");
}

.better {
  @include better("top");
}

.bytes {
  @include bytes;
}
