.options {
  grid-template-columns: repeat(auto-fit, 6.66em); 
  grid-auto-rows: auto;
  font-size: 1.2em;
  display: grid;
  gap: 0.333em;
}

.options > div {
  text-justify: inter-word;
  text-align: justify;
}

.equal {
  padding: 0.333em;
}
.worse {
  padding: 0.333em;
  background-color: rgb(207,204,229);
}

.better {
  padding: 0.333em;
  background-color: rgb(254,224,182);
}

.result {
  grid-template-columns: repeat(auto-fit, 3.33em 10em); 
  grid-auto-rows: auto;
  font-size: 1.2em;
  display: grid;
  gap: 1em;
}

.bytes {
  font-size: 1.2em;
  font-family: monospace;
}
